.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.banner-card-item {
  border: 1px solid #cbced2;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 32px;
  max-width: 1140px;
  list-style-type: none;
}
.heading {
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.show-more-btn {
  color: #326a9d;
  background-color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #326a9d;
  border-radius: 5px;
  padding: 8px;
}
